<!DOCTYPE html>
    <html lang="en">
      <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
        <script src="https://cdn.tailwindcss.com"></script>
    <title>Proyect</title>
      </head>
<body class="m-0 h-screen"> 
        
    <div class="h-full" id="firts-container">
        <div class="h-24 top-0 left-0 right-0 fixed pt-4" id="nav-container">
            <nav class="flex justify-between bg-[#ae5431] items-center text-lg " id="nav">
                <img class="h-24 pl-8" id="img-logo" src="/img/logo2.jpeg"> 
                <P id="titulo" class=" text-[#ae5431] text-2xl bg-white rounded-full p-4">Soul&Love</P>
                <div>
            <a class="p-4 outline-none text-white link btn"  href="/singup/">REGISTRARSE</a>
            <a  class="p-4 outline-none text-white btn" href="/login/">INICIAR SESION</a>
                </div>
            </nav>
        
        </div>
        <div class="">
            <!-- <img class="flex fixed pt-40 w-full h-40" src="/img/Crea una cuenta (10).png" alt=""> -->

        </div>
    </div>
</body>
</html>  